<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DevNewsBucket | Home</title>

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      body {
        font-family: "Lato", sans-serif;
      }
      #wrapper {
        width: 100%;
        min-height: 100vh;
        background: #f1f1f1;
      }
      .inner-wrapper {
        width: 80%;
        height: 90vh;
        padding: 1rem;
        margin: 0 auto;
      }
      .inner-wrapper h1 {
        text-align: center;
        color: brown;
      }
      .inner-wrapper p {
        text-align: center;
        padding: 1rem 0;
      }
      .inner-wrapper h5 {
        text-align: center;
        padding: 0.5rem 0;
      }
      a {
        text-decoration: none;
        color: brown;
      }
      a:hover {
        color: burlywood;
      }
      footer h4 {
        color: grey;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div class="inner-wrapper">
        <h1>Welcome To The DevNewsBucket API</h1>
        <p>
          <strong>`DevNewsBucket`</strong> is a simple REST API created to
          display latest news and updates on languages and frameworks involved
          in web development. The information obtained is acquired from the
          languages' official website.
          <span
            >Currently only data from
            <a href="https://laravel-news.com/category/news" target="_blank"
              >Laravel News</a
            ></span
          >
          is available
        </p>
        <h5>View Articles: <a href="/api/articles">Click Here</a></h5>
        <h5>View Authors: <a href="/api/authors">Click Here</a></h5>
      </div>
      <footer>
        <h4>
          &copy; 2019 -
          <script>
            let currentYear = new Date().getFullYear();
            currentYear != 2019 && document.write(`${currentYear} `);
          </script>
          Lazy Loading Inc
        </h4>
      </footer>
    </div>
  </body>
</html>
