APP_NAME=habari
PORT=5000
NODE_ENV=development

CLIENT_URL="http://localhost:3000"

MONGO_URI=mongodb://localhost/devnewsbucket
MONGO_DEBUG=true

COOKIE_EXPIRE=30
FILE_UPLOAD_PATH=./public/uploads
FILE_MAX_SIZE=2000000

SECRET_KEY=

JWT_SECRET=xxxx
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=xxxx
SMTP_PASSWORD=xxxx
NOREPLY_EMAIL=noreply@example.com
NOREPLY_NAME=NoReply
SENDER_EMAIL=admin@example.com
SENDER_NAME=info

GITHUB_TOKEN=xxxx 
GITHUB_USERNAME=xxxx
GITHUB_REPO_NAME=xxxx
