APP_NAME=habari
PORT=5000
NODE_ENV=development

CLIENT_URL="http://localhost:3000"

MONGO_URI=xxxx
MONGO_DEBUG=true

COOKIE_EXPIRE=30
FILE_UPLOAD_PATH=./public/uploads
FILE_MAX_SIZE=2000000

JWT_SECRET=xxxx
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

SENDGRID_API_KEY=xxxx
SENDGRID_NOREPLY_EMAIL=xxxx
SENDGRID_INFO_EMAIL=xxxx

GITHUB_TOKEN=xxxx 
GITHUB_USERNAME=xxxx
GITHUB_REPO_NAME=xxxx
